doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title!= title
        link(rel='stylesheet', href=assets.css)
    body
        svg(class='blackstar')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/snap.svg/0.3.0/snap.svg-min.js')
        script(src=assets.js)